<script id="edgeDefinitionTable.ejs" type="text/template">
  <tr class="tableRow" id="row_newEdgeDefinitions<%= number%>">
    <th class="collectionTh">Edge 定义*:</th>
    <th class="collectionTh">
      <input type="hidden" id="newEdgeDefinitions<%= number%>" value="" placeholder="Edge 定义" tabindex="-1" class="select2-offscreen">
      <button id="remove_newEdgeDefinitions<%= number%>" class="graphViewer-icon-button gv_internal_remove_line gv-icon-small delete"></button>
    </th><th>
    <span class="modalTooltips avocadoicon icon_avocadodb_info" title="一些edge定义的信息">
    </span>
    </th>
  </tr>
  <tr class="tableRow" id="row_fromCollections<%= number%>">
    <th class="collectionTh">顶点数据集*:</th>
    <th class="collectionTh">
      <input type="hidden" id="fromCollections<%= number%>" value="" placeholder="顶点数据集" tabindex="-1" class="select2-offscreen">
    </th><th>
    <span class="modalTooltips avocadoicon icon_avocadodb_info" title="包含关系的起始顶点的数据集.">
    </span>
  </th>
  </tr>
  <tr class="tableRow" id="row_toCollections<%= number%>">
    <th class="collectionTh">结束点数据集*:</th>
    <th class="collectionTh">
      <input type="hidden" id="toCollections<%= number%>" value="" placeholder="结束点数据集" tabindex="-1" class="select2-offscreen">
    </th><th>
    <span class="modalTooltips avocadoicon icon_avocadodb_info" title="包含关系结束顶点的数据集.">
    </span>
  </th>
  </tr>
</script>
