<script id="modalCollectionInfo.ejs" type="text/template">
<%
    var figuresData = content.figures;
    var revision    = content.revision;
%>

        <table id="collectionInfoTable" class="avocado-table">
          <% if (figuresData.journalSize) { %>
            <tr id="collectionSizeBox">
              <th class="collectionInfoTh2">日志大小:</th>
              <th class="collectionInfoTh">
                <div id="show-collection-size" class="modal-text">
                  <%=prettyBytes(figuresData.journalSize)%>
                </div>
              </th>
              <th class="tooltipInfoTh">
                <div>
                  <span class="modalTooltips avocadoicon icon_avocadodb_info" title="日志或记录的最大大小 (以 MB 为单位)。必须至少1。">
                  </span>
                </div>
              </th>
            </tr>
          <% } %>
          <tr id="collectionSyncBox">
            <th class="collectionInfoTh2">等待同步:</th>
            <th class="collectionInfoTh">
                <div id="show-collection-sync" class="modal-text">
                  <%=figuresData.waitForSync%>
                </div>
            </th>
            <th class="tooltipInfoTh">
              <div>
                <span class="modalTooltips avocadoicon icon_avocadodb_info" title="从数据库的创建或更新返回之前同步到磁盘.">
                </span>
              </div>
            </th>
          </tr>

          <tr>
            <th class="collectionInfoTh2">ID:</th>
            <th class="collectionInfoTh">
              <div id="show-collection-id" class="modal-text">
                <%=content.model.get("id")%>
              </div>
            <th>
          </tr>

          <tr id="collectionRevBox">
            <th class="collectionInfoTh2">修订:</th>
            <th class="collectionInfoTh">
              <div id="show-collection-rev" class="modal-text">
                <%=revision.revision%>
              </div>
            </th>
            <th class="collectionInfoTh">
            </th>
          </tr>

          <tr>
            <th class="collectionInfoTh2">类型:</th>
            <th class="collectionInfoTh">
              <div class="modal-text"><%=content.model.get("type")%></div>
            </th>
            <th class="collectionInfoTh">
            </th>
          </tr>

          <tr>
            <th class="collectionInfoTh2">状态:</th>
            <th class="collectionInfoTh">
              <div class="modal-text"><%=content.model.get("status")%></div>
            </th>
            <th class="collectionInfoTh">
            </th>
          </tr>

          <% if (figuresData.numberOfShards) { %>
            <tr>
              <th class="collectionInfoTh2">分片:</th>
              <th class="collectionInfoTh">
                <div class="modal-text"><%=figuresData.numberOfShards%></div>
              </th>
              <th class="collectionInfoTh">
              </th>
            </tr>
          <% } %>

          <% if (figuresData.shardKeys) { %>
            <tr>
              <th class="collectionInfoTh2">分片 Keys:</th>
              <th class="collectionInfoTh">
                <div class="modal-text"><%=JSON.stringify(figuresData.shardKeys)%></div>
              </th>
              <th class="collectionInfoTh">
              </th>
            </tr>
          <% } %>

          <% if (figuresData.replicationFactor) { %>
            <tr>
              <th class="collectionInfoTh2">复制索引:</th>
              <th class="collectionInfoTh">
                <div class="modal-text"><%=figuresData.replicationFactor%></div>
              </th>
              <th class="collectionInfoTh">
              </th>
            </tr>
          <% } %>

          <% if (figuresData.indexBuckets) { %>
            <tr>
              <th class="collectionInfoTh2">索引容器:</th>
              <th class="collectionInfoTh">
                <div class="modal-text"><%=figuresData.indexBuckets%></div>
              </th>
              <th class="collectionInfoTh">
              </th>
            </tr>
          <% } %>
          <% if (!frontendConfig.isCluster) { %>
            <% if (figuresData.figures.compactionStatus) { %>
              <tr>
                <th class="collectionInfoTh2">压缩状态:</th>
                <th class="collectionInfoTh">
                  <div class="modal-text"><%=figuresData.figures.compactionStatus.message + " (" + figuresData.figures.compactionStatus.time + ")" %></div>
                </th>
                <th class="collectionInfoTh">
                </th>
              </tr>
            <% } %>
          <% } %>

          <% if (figuresData.figures.waitingFor) { %>
            <tr>
              <th class="collectionInfoTh2">等待:</th>
              <th class="collectionInfoTh">
                <div class="modal-text"><%=figuresData.figures.waitingFor%></div>
              </th>
              <th class="collectionInfoTh">
              </th>
            </tr>
          <% } %>
        </table>

      </div>

        <% if (figuresData.figures.alive && figuresData.figures.dead) { %>
          <% if (window.frontendConfig.isCluster) { %>
            <div class="infoBox">
              <h4>信息</h4>
              <p>以下信息不包含存储在预写日志中的数据。这可能是不准确的, 直到写前日志已完全刷新。</p>
            </div>
          <% } %>
          <table class="figures1 avocado-table">
            <tr class="figuresHeader">
              <th>类型</th>
              <th>长度</th>
              <th>大小</th>
              <th>剔除中</th>
              <th>信息</th>
            </tr>
            <tr>
              <th class="modal-text">激活</th>
              <% if (figuresData.walMessage) { %>
                <th class="modal-text"><%=figuresData.walMessage%></th>
              <% } else { %>
                <th class="modal-text"><%=numeral(figuresData.figures.alive.count).format('0,0')%></th>
              <% } %>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=prettyBytes(figuresData.figures.alive.size)%>
                <% } %>
              </th>
              <th class="modal-text"> -</th>
              <th class="tooltipInfoTh">
                <span class="modalTooltips avocadoicon icon_avocadodb_info" title="Total number and size of all living documents.">
                </span>
              </th>
            </tr>
            <tr>
              <th class="modal-text">挂死</th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=numeral(figuresData.figures.dead.count).format('0,0')%>
                <% } %>
              </th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=prettyBytes(figuresData.figures.dead.size)%>
                <% } %>
              </th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=figuresData.figures.dead.deletion%>
                <% } %>
              </th>

              <th class="tooltipInfoTh">
                <div>
                  <span class="modalTooltips avocadoicon icon_avocadodb_info" title="所有挂死文件的总数和大小.">
                  </span>
              </div>
              </th>

            </tr>
            <tr><th><div> </div></th></tr>
          </table>
        <% } %>

        <% if (figuresData.figures.datafiles && figuresData.figures.journals && figuresData.figures.compactors) { %>
          <table class="figures2 avocado-table">
            <tr class="figuresHeader">
              <th>类型</th>
              <th>长度</th>
              <th>大小</th>
              <th></th>
              <th>信息</th>
            </tr>
            <tr>
              <th class="modal-text">数据文件</th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=numeral(figuresData.figures.datafiles.count).format('0,0')%>
                <% } %>
              </th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%= prettyBytes(figuresData.figures.datafiles.fileSize) %>
                <% } %>
              </th>
              <th class="modal-text">&nbsp;</th>
              <th class="tooltipInfoTh">
                <div>
                    <span class="modalTooltips avocadoicon icon_avocadodb_info" data-toggle="tooltip" data-placement="left" title="活动数据文件的数量和总大小.">
                  </span>
                </div>
              </th>
            </tr>
            <tr>
              <th class="modal-text">日子</th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=numeral(figuresData.figures.journals.count).format('0,0')%>
                <% } %>
              </th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=prettyBytes(figuresData.figures.journals.fileSize)%>
                <% } %>
              </th>
              <th class="modal-text">&nbsp;</th>
              <th class="tooltipInfoTh">
                <span class="modalTooltips avocadoicon icon_avocadodb_info" title="日志文件的数量和总大小.">
                </span>
              </th>
            </tr>
            <tr>
              <th class="modal-text">压缩</th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=numeral(figuresData.figures.compactors.count).format('0,0')%>
                <% } %>
              </th>
              <th class="modal-text">
                <% if (figuresData.walMessage) { %>
                  <%=figuresData.walMessage%>
                <% } else { %>
                  <%=prettyBytes(figuresData.figures.compactors.fileSize)%>
                <% } %>
              </th>
              <th class="modal-text">&nbsp;</th>
              <th class="tooltipInfoTh">
                <span class="modalTooltips avocadoicon icon_avocadodb_info" title="压实文件的数量和总大小."></span>
              </th>
            </tr>
            <tr>
              <th class="modal-text">索引</th>
              <th class="modal-text">
                <%=numeral(figuresData.figures.indexes.count).format('0,0')%>
              </th>
              <th class="modal-text">
                <%=prettyBytes(figuresData.figures.indexes.size)%>
              </th>
              <th class="modal-text">&nbsp;</th>
              <th class="tooltipInfoTh">
                <span class="modalTooltips avocadoicon icon_avocadodb_info" title="索引的数量和总内存使用情况。"></span>
              </th>
            </tr>
          </table>
        <% } %>

        <% if (figuresData.figures.documentReferences && figuresData.figures.uncollectedLogfileEntries) { %>
          <table class="figures3 avocado-table">
            <tr class="figuresHeader">
              <th>类型</th>
              <th>长度</th>
              <th></th>
              <th></th>
              <th>信息</th>
            </tr>
            <tr>
              <th class="modal-text">Uncollected</th>
              <th class="modal-text"><%=figuresData.figures.uncollectedLogfileEntries%></th>
              <th class="modal-text">&nbsp;</th>
              <th class="modal-text">&nbsp;</th>
              <th class="tooltipInfoTh">
                <span class="modalTooltips avocadoicon icon_avocadodb_info" title="Total number of uncollected WAL entries">
                </span>
              </th>
            </tr>
            <tr>
              <th class="modal-text">References</th>
              <th class="modal-text"><%=figuresData.figures.documentReferences%></th>
              <th class="modal-text">&nbsp;</th>
              <th class="modal-text">&nbsp;</th>
              <th class="tooltipInfoTh">
                <span class="modalTooltips avocadoicon icon_avocadodb_info" title="Total number of objects pointing to documents in collection datafiles">
                </span>
              </th>
            </tr>
          </table>
        <% } %>

</script>
