<script id="userPermissionView.ejs" type="text/template">

  <% var genClass = "pure-u-1-5"; %>
  <% var genClass2 = "pure-u-1-5"; %>

  <div id="userPermissionView" class="innerContent">
    <div class="pure-g pure-table pure-table-header pure-title" style="clear: both">
      <div class="pure-table-row">
        <div class="<%= genClass %> left">数据库</div>
        <div class="<%= genClass %> mid">管理 <i class="fa fa-info-circle tippy" title="允许创建/删除集合并在数据库中设置用户权限。"></i></div>
        <div class="<%= genClass %> mid">访问 <i class="fa fa-info-circle tippy" title="允许访问数据库。用户不能创建或删除集合。"></i></div>
        <div class="<%= genClass %> mid">禁止访问 <i class="fa fa-info-circle tippy" title="用户无法访问数据库。"></i></div>
        <div class="<%= genClass %> mid">设置默认 <i class="fa fa-info-circle tippy" title="未指定访问级别。将使用数据库默认值 (*)."></i></div>
      </div>
    </div>

    <div class="pure-g pure-table pure-table-body">
      <% _.each(permissions, function(content, db) { %>
        <% var extraClass = ''; %>
        <% if (db.charAt(0) === '*') { %>
          <% extraClass = 'noAction'; %>
        <% } %>

        <div class="pure-table-row db-row noHover <%= extraClass %>" id="<%= db %>-db">
          <div class="<%= genClass2 %> left db-label">

            <% if (db.charAt(0) !== '*') { %>
              <i class="fa fa-caret-right" style="width: 10px;"></i>
              <i class="fa fa-caret-down" style="display: none; width: 10px;"></i>
            <% } %>
            <% if (db.charAt(0) === '*') { %>
              <b style="margin-right: 5px;">*</b> <i class="fa fa-info-circle tippy" title="如果未指定身份验证级别, 则为数据库的默认访问级别。"></i>
            <% } else { %>
              <%= db %>
            <% } %>
          </div>

          <% var permissionsDB = content.permission; %>

          <% if (permissionsDB === 'rw') { %>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox readWrite" type="radio" name="<%= db %>" permission="rw" checked>
            </div>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox readOnly" type="radio" name="<%= db %>" permission="ro">
            </div>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox noAccess" type="radio" name="<%= db %>" permission="none">
            </div>
            <% if (db.charAt(0) !== '*') { %>
              <div class="<%= genClass2 %> mid">
                <input class="dbCheckbox useDefault" type="radio" name="<%= db %>" permission="undefined">
              </div>
            <% } else { %>
              <div class="<%= genClass2 %> mid"></div>
            <% } %>
          <% } else if (permissionsDB === 'ro') { %>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox readWrite" type="radio" name="<%= db %>" permission="<%= db %>">
            </div>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox readOnly" type="radio" name="<%= db %>" permission="<%= db %>" checked>
            </div>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox noAccess" type="radio" name="<%= db %>" permission="none">
            </div>
            <% if (db.charAt(0) !== '*') { %>
              <div class="<%= genClass2 %> mid">
                <input class="dbCheckbox useDefault" type="radio" name="<%= db %>" permission="undefined">
              </div>
            <% } else { %>
              <div class="<%= genClass2 %> mid"></div>
            <% } %>
          <% } else if (permissionsDB === 'none') { %>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox readWrite" type="radio" name="<%= db %>" permission="<%= db %>">
            </div>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox readOnly" type="radio" name="<%= db %>" permission="<%= db %>">
            </div>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox noAccess" type="radio" name="<%= db %>" permission="none" checked>
            </div>
            <% if (db.charAt(0) !== '*') { %>
              <div class="<%= genClass2 %> mid">
                <input class="dbCheckbox useDefault" type="radio" name="<%= db %>" permission="undefined">
              </div>
            <% } else { %>
              <div class="<%= genClass2 %> mid"></div>
            <% } %>
          <% } else { %>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox readWrite" type="radio" name="<%= db %>" permission="<%= db %>">
            </div>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox readOnly" type="radio" name="<%= db %>" permission="<%= db %>">
            </div>
            <div class="<%= genClass2 %> mid">
              <input class="dbCheckbox noAccess" type="radio" name="<%= db %>" permission="none">
            </div>
            <% if (db.charAt(0) !== '*') { %>
              <div class="<%= genClass2 %> mid">
                <input class="dbCheckbox useDefault" type="radio" name="<%= db %>" permission="undefined" checked>
              </div>
            <% } else { %>
              <div class="<%= genClass2 %> mid"></div>
            <% } %>
          <% } %>

          <div class="collection-row pure-table-row noHover inner <%= extraClass %>" style="display: none">
            <div class="<%= genClass %> left inner collection-label collection-label-first"><span class="collLabel">数据表<span></div>
            <div class="<%= genClass %> mid inner collection-label">读/写</div>
            <div class="<%= genClass %> mid inner collection-label">只读</div>
            <div class="<%= genClass %> mid inner collection-label collection-label-last">禁止访问</div>
            <div class="<%= genClass %> mid inner collection-label collection-label-last">设置默认</div>
            <% _.each(content.collections, function(permissionCollection, collectionName) { %>
              <% if (db.charAt(0) !== '*') { %>
                <% if (collectionName.charAt(0) !== '_') { %>

                  <% if (collectionName !== '*') { %>
                    <div class="pure-table-row noHover" id="<%=collectionName%>-collection">
                  <% } else { %>
                    <div class="pure-table-row noHover" id="___-collection">
                  <% } %>

                    <% if (collectionName === '*') { %>
                      <div class="<%= genClass %> left inner"><span class="collName"><b style="margin-right: 7px"> <%= collectionName %></b></span><i class="fa fa-info-circle tippy" title="<%=db%> 中的集合的默认访问级别 (如果未指定身份验证级别)。"></i></div>
                    <% } else { %>
                      <div class="<%= genClass %> left inner"><span class="collName"><%= collectionName %></span></div>
                    <% } %>

                    <% if (permissionCollection === 'rw') { %>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox readWrite" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>" checked>
                      </div>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox readOnly" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox noAccess" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <% if (collectionName.charAt(0) !== '*') { %>
                        <div class="<%= genClass %> mid inner">
                          <input class="collCheckbox useDefault" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                        </div>
                      <% } else { %>
                        <div class="<%= genClass %> mid inner"></div>
                      <% } %>
                    <% } else if (permissionCollection === 'ro') { %>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox readWrite" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox readOnly" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>" checked>
                      </div>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox noAccess" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <% if (collectionName.charAt(0) !== '*') { %>
                        <div class="<%= genClass %> mid inner">
                          <input class="collCheckbox useDefault" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                        </div>
                      <% } else { %>
                        <div class="<%= genClass %> mid inner"></div>
                      <% } %>
                    <% } else if (permissionCollection === 'none') { %>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox readWrite" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox readOnly" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox noAccess" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>" checked>
                      </div>
                      <% if (collectionName.charAt(0) !== '*') { %>
                        <div class="<%= genClass %> mid inner">
                          <input class="collCheckbox useDefault" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                        </div>
                      <% } else { %>
                        <div class="<%= genClass %> mid inner"></div>
                      <% } %>
                    <% } else { %>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox readWrite" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox readOnly" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <div class="<%= genClass %> mid inner">
                        <input class="collCheckbox noAccess" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>">
                      </div>
                      <% if (collectionName.charAt(0) !== '*') { %>
                        <div class="<%= genClass %> mid inner">
                          <input class="collCheckbox useDefault" type="radio" db="<%= db %>" name="<%=db%>-<%=collectionName%>" collection="<%= collectionName %>" permission="<%= collectionName %>" checked>
                        </div>
                      <% } else { %>
                        <div class="<%= genClass %> mid inner"></div>
                      <% } %>
                    <% } %>

                  </div>
                <% } %>
              <% } %>
            <% }); %>
          </div>

        </div>

      <% }); %>

    </div>

  </div>
</script>
